
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 6rem;
  margin: 3rem auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  padding-bottom: 0.7rem;
}

h3 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

ul{
  line-height: 2;
}

hr {
  border: none;
  border-bottom: 0.375rem dotted #EAF6F6;
  width: 7rem;
  margin: 3rem auto;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color:#66BFBF;
}

.icons{
  color:#11999E;
}

.top-container {
  background-color: #11999E;
  position: relative;
  padding: 1.5rem;
}

.civil {
  text-decoration: underline;
}

.profile-conteiner {
  width: 50rem;
  position: relative;
  margin: 5rem 0 ;
}

.img-profile {
  width: 12rem;
  border-radius: 8rem;
}

.intro {
  width: 50rem;
  margin: auto;
  text-align: justify;
  line-height: 2;
}

.education-container {
  position: relative;
  margin: 3rem;
}

.education{
  width: 50rem;
  margin: 3rem auto;
  text-align: left;
  line-height: 1;
}

.img-left{
  width: 9rem;
  float:left;
  margin-right: 3rem;
}

.img-right{
  width: 9rem;
  float:right;
  margin-right: 2rem;
}

.experience-container {
  width: 50rem;
  position: relative;
  margin: 3rem auto;
  text-align: left;

}

.img-exp-proy{
  width: 9rem;

}

.experience{
  text-align: justify;
}

.img-exp-proy {
  width: 9rem;
  margin: 3rem auto;
}

.projects-container {
  position: relative;
  margin: 3rem;
}

.list-projects{
  width: 50rem;
  margin:0 auto;
  text-align: justify;

}

.bottom-container{
  position: relative;
  background-color: #66BFBF;
  margin: 3rem auto 0;
  padding: 2rem;
}

.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0.6rem 1.3rem;
  text-decoration: none;
}

.footer-link:hover{
  color:#EAF6F6;
}

.copyright{
padding-top: 1.3rem;
color: #EAF6F6;
font-size: 0.8rem;
font-family: 'Montserrat', sans-serif;
}
